* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.heading{
  font-size: 2.5rem;
  text-align: center;
}
.navbardark{
  position: sticky;
  top: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
  padding: 5px 20px; 
}
.navbarlight {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
  padding: 5px 20px; 
}
.containerdark{
  background-color: #202123;
}